html {
  position: relative; 
  min-height: 100%;
  padding: 0;
  margin: 0;
}

/*Normalize html and body elements,this style is just good to have*/
body {
  width: 100%;
  margin: 0 0 100px;
  min-height: 100%;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: no-repeat center center;
  background-size: 100% auto;
}

#ribbon-about {
  width: 100%;
}

.nav-pills[data-value="Teams/Matches"]{
  border: 0.5px solid #f2f2f2;
  z-index: 100;
}

.nav-pills[data-value="Total Goals"]{
  border: 0.5px solid #f2f2f2;
  z-index: 100;
}

.nav-pills[data-value="Final Rounds"]{
  border: 0.5px solid #f2f2f2;
  z-index: 100;
}

#about {
  font-size: 20px;
}